<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pokémon App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Esta es una aplicación desarrollada con Ionic Framework y Angular.
        Utiliza la PokeAPI para mostrar información sobre Pokémon.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tecnologías Utilizadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Ionic Framework</ion-item>
        <ion-item>Angular</ion-item>
        <ion-item>PokeAPI</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Desarrollado por: Karen buelvas</p>
      <p>GitHub: <a href="https://github.com/Karenpaola20/pokemon-api">Enlace al repositorio</a></p>
      <p>Email: <a href="mailto:tucorreo@example.com">kbuelvas899.com</a></p>
    </ion-card-content>
  </ion-card>

  
  <ion-button expand="block" routerLink="/home">
    Ver Lista de Pokémon
  </ion-button>
</ion-content>